<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
# dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv("../survey-data.csv")

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [ ]:
# Write your code here

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [3]:
# Write your code here
import numpy as np
df.describe(include=[np.number])

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [10]:
# Write your code here
print(df['Country'].unique())

['United States of America' 'United Kingdom' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran' 'France' 'Saudi Arabia' 'Romania' 'Turkey'
 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia' 'Pakistan'
 'Czech Republic' 'Republic of North Macedonia' 'Finland' 'Slovakia'
 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela' 'Costa Rica' 'Jamaica' 'Thailand' 'Nicaragua' 'Myanmar'
 'South Korea' 'Rwanda' 'Bosnia and Herzegovina' 'Benin' 'El Salvador'
 'Zimbabwe' 'Afghanistan' 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia'
 'Republic of Moldova' 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine'
 'Armenia' 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala'
 'Uganda' 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)' 'Laos' 'Mongolia' 'Cambodia'
 'Madagascar' 'Angola' 'Congo' 'Syrian Arab Republic' 'Iraq' 'Namibia'
 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire" 'Kuwait'
 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania' 'Sierra Leone'
 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana' 'Togo' 'Oman'
 'Barbados' 'Andorra' 'Qatar' 'Sudan' 'Cameroon' 'Papua New Guinea'
 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso' 'Botswana' 'Guinea-Bissau'
 'Mozambique' 'Central African Republic' 'Equatorial Guinea' 'Suriname'
 'Belize' 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam'
 'Bhutan' 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia' 'Haiti' nan 'Nauru'
 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

In [9]:
for row, col in df.iterrows():
    if col['Country'] == 'Micronesia, Federated States of...':
        df.at[row, 'Country'] = 'Micronesia'
    elif col['Country'] == 'Iran, Islamic Republic of...':
        df.at[row, 'Country'] = 'Iran'
    elif col['Country'] == 'United Kingdom of Great Britain and Northern Ireland':
        df.at[row, 'Country'] = 'United Kingdom'
    elif df.at[row, 'Country'] == 'Congo, Republic of the...' or df.at[row, 'Country'] == 'Democratic Republic of the Congo':
        df.at[row, 'Country'] = 'Congo'
    elif df.at[row, 'Country'] == "Democratic People's Republic of Korea":
        df.at[row, 'Country'] = 'North Korea'
    elif df.at[row, 'Country'] == "Lao People's Democratic Republic":
        df.at[row, 'Country'] = 'Laos'
    elif df.at[row, 'Country'] == 'Venezuela, Bolivarian Republic of...':
        df.at[row, 'Country'] = 'Venezuela'
    elif df.at[row, 'Country'] == 'Republic of Korea':
        df.at[row, 'Country'] = 'South Korea'

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [18]:
## Write your code here
# Standardize EdLevel entries
education_mapping = {
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)": "Bachelor's degree",
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)": "Master's degree", 
    "Some college/university study without earning a degree": "Some college",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "Secondary school",
    "Professional degree (JD, MD, Ph.D, Ed.D, etc.)": "Professional degree",
    "Associate degree (A.A., A.S., etc.)": "Associate degree",
    "Primary/elementary school": "Primary school",
    "Something else": "Other"
}

# Apply the mapping to standardize EdLevel
df['EdLevel'] = df['EdLevel'].map(education_mapping).fillna(df['EdLevel'])

# Display the updated EdLevel value counts
print("Standardized EdLevel values:")
print(df['EdLevel'].value_counts())

Standardized EdLevel values:
EdLevel
Bachelor's degree      24942
Master's degree        15557
Some college            7651
Secondary school        5793
Professional degree     2970
Associate degree        1793
Primary school          1146
Other                    932
Name: count, dtype: int64

In [ ]:
df['EdLevel'].value_counts().idxmax()

"Bachelor's degree"

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [ ]:
## Write your code here
unique_employ_set = set()
employ_list = df['Employment'].unique().tolist()
for emp in employ_list:
    temp = emp.split(';')
    unique_employ_set.update(temp)
# print("Unique Employment values:")
# print(unique_employ_set)
mapping = {'I prefer not to say': 'Is_Emp_not_say', 
           'Student, full-time': 'Is_Emp_student_full', 
           'Not employed, but looking for work': 'Is_Emp_not_but_looking', 
           'Employed, full-time': 'Is_Emp_full_time', 
           'Retired': 'Is_Emp_retired', 
           'Not employed, and not looking for work': 'Is_Emp_not_and_not_looking', 
           'Employed, part-time': 'Is_Emp_part_time', 
           'Student, part-time': 'Is_Emp_student_part', 
           'Independent contractor, freelancer, or self-employed': 'Is_Emp_independent'}
for key, value in mapping.items():
    df[value] = df["Employment"].str.contains(key).astype(int)

In [26]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSat,Emp_not_say,Emp_student_full,Emp_not_but_looking,Emp_full_time,Emp_retired,Emp_not_and_not_looking,Emp_part_time,Emp_student_part,Emp_independent
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary school,Books / Physical media,NaN,...,NaN,0,0,0,1,0,0,0,0,0
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Bachelor's degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,0,0,0,1,0,0,0,0,0
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Master's degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,0,0,0,1,0,0,0,0,0
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,0,1,0,0,0,0,0,0,0
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,Secondary school,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,0,1,0,0,0,0,0,0,0

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [31]:
## Write your code here
df_missing = df.isnull().sum().to_frame(name="MissingCount")

In [33]:
df_missing.sort_values(by="MissingCount", ascending=False, inplace=True)

In [34]:
df_missing

                            MissingCount
AINextMuch less integrated         64289
AINextLess integrated              63082
AINextNo change                    52939
AINextMuch more integrated         51999
EmbeddedAdmired                    48704
...                                  ...
Emp_retired                            0
Emp_not_and_not_looking                0
Emp_part_time                          0
Emp_student_part                       0
Emp_independent                        0

[123 rows x 1 columns]

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [ ]:
## Write your code here

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [ ]:
## Write your code here

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [ ]:
## Write your code here

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [35]:
import numpy as np

# Log-transform the ConvertedCompYearly column to reduce skewness

# First, let's check the current state of the column
print("ConvertedCompYearly column info:")
print(f"Non-null values: {df['ConvertedCompYearly'].count()}")
print(f"Null values: {df['ConvertedCompYearly'].isnull().sum()}")

# Apply log transformation (adding 1 to handle any zero values)
# Note: We'll only transform non-null values
df['ConvertedCompYearly_log'] = df['ConvertedCompYearly'].apply(lambda x: np.log(x + 1) if pd.notnull(x) and x > 0 else np.nan)

print("\nLog-transformed column created: ConvertedCompYearly_log")
print(f"Non-null values in log column: {df['ConvertedCompYearly_log'].count()}")

ConvertedCompYearly column info:
Non-null values: 23435
Null values: 42002

Log-transformed column created: ConvertedCompYearly_log
Non-null values in log column: 23435

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [41]:
# Create ExperienceLevel based on YearsCodePro
def categorize_experience(years):
    if pd.isna(years):
        return 'Unknown'
    elif years == 'Less than 1 year':
        return 'Entry Level'
    elif years == 'More than 50 years':
        return 'Senior'
    else:
        try:
            years_numeric = float(years)
            if years_numeric < 2:
                return 'Entry Level'
            elif years_numeric < 5:
                return 'Junior'
            elif years_numeric < 10:
                return 'Mid Level'
            else:
                return 'Senior'
        except (ValueError, TypeError):
            return 'Unknown'

# Apply the categorization
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Display the distribution of experience levels
print("Experience Level distribution:")
print(df['ExperienceLevel'].value_counts())

Experience Level distribution:
ExperienceLevel
Senior         21711
Unknown        13827
Mid Level      12928
Junior         11476
Entry Level     5495
Name: count, dtype: int64

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.